.container {
  background: #CCC;
  height: 400px;
  text-align: center;
}
.container INPUT {
  margin: 100px 0 0 0;
  width: 300px;
}

.fileDrop {
  border: solid 1px #111;
  height: 200px;
  width: 400px;
}

.dragOver .fileDrop {
  background: green;
}

